<div class="block" id="block-lists">
  <div class="content">
    <h2 class="title">Archived Emails</h2>
    <div class="inner">
      <ul class="list">    
        <% @emails.each do |email| %>        
        <li>
          <div class="left">
            <a href="#"><img class="avatar" src="images/avatar.png" alt="avatar" /></a>
          </div>
          <div class="item">                
            <p><%= display_email(email) %></p>
          </div>              
        </li>    
        <% end %>     
      </ul>
    </div>
  </div>
</div>                          
